body {
  padding: 0;
  margin: 0;
}
.app .game {
  margin: 0 auto;
  width: 700px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-line-pack: center;
  align-content: center;
  -ms-flex-align: center;
  align-items: center;
}
.app .game ul {
  position: relative;
  padding: 0;
  margin: 20px;
  height: 150px;
}
.app .game ul li {
  display: inline;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  z-index: 1;
}
.app .game ul li:hover {
  z-index: 2;
}
.app .game .cards {
  width: 600px;
}
.app .game .pack {
  position: relative;
  display: inline-block;
}
.app .game .pack .pack-label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 6px 12px;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  font-size: 12px;
  text-align: center;
  border-radius: 12px;
  pointer-events: none;
  white-space: nowrap;
}
.app .game .pack img,
.app .game ul li img {
  cursor: pointer;
}
.app .gameControl {
  margin: 0 auto;
  width: 700px;
  height: 100px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-line-pack: center;
  align-content: center;
  -ms-flex-align: center;
  align-items: center;
}
.app .gameControl > .status {
  width: 180px;
}
.app .gameControl > .status p {
  margin: 0;
  width: 180px;
}
.app .gameControl > .status p .label {
  float: right;
  display: inline-block;
  min-width: 40px;
  min-height: 16px;
  text-align: center;
}
.app .gameControl > .status p .label.status {
  min-width: 85px;
}
